 .main-content{
            height: 1000px;
            display: grid;
            grid-template-columns: 300px 1000px;
            width: 90%;
            margin: 20px auto;
        }

        .left-section{
            /* display: grid;
            grid-template-columns: 300px; */
            background-color: wheat;
        }

        .right-section{
            /* display: grid;
            grid-template-columns: 300px, 1000px; */
            background-color: aqua;
            
        }

        .left-content{
            padding: 1rem;
        }

        .profile-image{
            display: block;
           
            margin: auto;
            
            width: 60%;
            padding: 1rem;
        }

        img{
            display: block;
            text-align: center;
            margin: auto;
            border: 5px white solid;
            border-radius: 30%;
            width: 100%;
        }

        .name{
            font-size: 1.2rem;
            font-weight: 700;
            padding: 0.8rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.02px;
        }

        .designation{
            font-size: 1rem;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 0.5rem;
        }

        .description{
            font-size: 0.75rem;
            text-align: center;
            padding: 1rem;
        }

        .icon{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border: none;
        }

        .media{
            height: 2rem;
            width: 2rem;
            border: none;

        }
        .skills{
            font-size: 0.75rem;
            text-align: center;
            text-transform: uppercase;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .skill-name{
            font-size: 0.65rem;
            font-weight: 0.65rem;
            text-align: left;
            text-transform: uppercase;
            padding-bottom: 0.5rem;
        }

        .progress-bar{
            border: 1px white solid;
            height: 4px;
            background-color: white;
        }

        .right-main-content{
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }

        .right-title{
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 700;
            padding: 0.5rem;
            letter-spacing: 1px;
        }
